/* RWD Size */
$S_devices: 576px;
$M_devices: 768px;
$L_devices: 992px;
$XL_large_device: 1200px;

/* Color */
$white: #FFF;
$black: #000;

/* FontSize */
$font-default: 1em;
$font-normal: 1.125em;
$font-m: 1.25em;
$font-s: 0.875em;
$font-xs: 0.75em;
$font-l: 1.5em;
$font-xl: 1.875em;