div {
    color: red;
    font-size: 24px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/home_kv_mb.png);
    width: 300px;
    height: 300px;
}